.container {
    border: 5px solid #ffcc5c;
    display: flex;
    /* main-axis left to right :::: cross-axis top to bottom */
    flex-direction: row; 
    /* main-axis top to bottom :::: cross-axis left to right */
    flex-direction: column;
  }