.container {
    border: 5px solid #ffcc5c;
    display: flex;
    /* main-axis left to right :::: cross-axis top to bottom */
    /* flex-direction: row; */
    /* main-axis top to bottom :::: cross-axis left to right */
    /* flex-direction: column; */
    /* main-axis */
    /* justify-content: flex-end;  */
    /* height: 50%; */
    /* cross-axis */
    /* align-items: flex-end;    */
    /* flex-wrap: wrap */
}

/* flex-wrap
    nowrap
    wrap
*/

/*
    flex-start
    flex-end
*/

/*  justify-content:
    flex-start 
    flex-end 
    center 
    space-around
    space-between 
    space-evenly 
*/

/* .home {
    margin-right: auto;
} */

/* 
    flex-grow .. if extra space is available, its the amount of increase per element
    flex-shrink .. if extra space is available, its the amount of reduction per element
    flex-basis .. the base width of an element
*/

/* .search {
    flex: 1;
} */

.home {
    /* flex: 1; */
    /* flex: 1 1 0; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
}

.search {
    /* flex: 1; */
    /* flex: 1 1 0; */
    flex-grow: 10;
    flex-shrink: 1;
    flex-basis: 200px;  
}

/* 
.logout {
    align-self: flex-start;
}

.home {
    align-self: flex-end;
} */

/* .container > div {
    width: 300px;
} */